{% include '../head.html'%}
<link rel="stylesheet" href="/stylesheets/travel.css"/>
<body>
{% include '../navigator.html' %}
<div class="title">
    <h1>青海湖-茶卡盐湖</h1>
</div>
<div class = "documentView">
    <article class="row">
        <section>
            {{document.content | raw}}
        </section>
    </article>
    <div class="gallery row">
        <ul class="polaroids large-block-grid-4 small-block-grid-2">
            <li>
                <figure>
                    <a class = "fancybox-thumbs" data-fancybox-group="thumb" href="/images/1.jpg">
                        <img src="/images/1.jpg"/></a>
                    <figcaption>青海湖</figcaption>
                </figure>
            </li>
            <li>
                <figure> <a class = "fancybox-thumbs" data-fancybox-group="thumb" href="/images/2.jpg">
                    <img src="/images/2.jpg"/></a>
                    <figcaption>青海湖</figcaption>
                </figure>
            </li>
            <li>
                <figure><a class = "fancybox-thumbs" data-fancybox-group="thumb" href="/images/3.jpg">
                    <img src="/images/3.jpg"/></a>
                    <figcaption>茶卡盐湖</figcaption>
                </figure>
            </li>
            <li>
                <figure> <a class = "fancybox-thumbs" data-fancybox-group="thumb" href="/images/4.jpg">
                    <img src="/images/4.jpg"/></a>
                    <figcaption>茶卡盐湖</figcaption>
                </figure>
            </li>
            <li>
                <figure><a class = "fancybox-thumbs" data-fancybox-group="thumb" href="/images/5.jpg">
                    <img src="/images/5.jpg"/></a>
                    <figcaption>青海湖</figcaption>
                </figure>
            </li>
            <li>
                <figure> <a class = "fancybox-thumbs" data-fancybox-group="thumb" href="/images/6.jpg">
                    <img src="/images/6.jpg"/> </a>
                    <figcaption>青海湖</figcaption>
                </figure>
            </li>
            <li>
                <figure> <a class = "fancybox-thumbs" data-fancybox-group="thumb" href="/images/6.jpg">
                    <img src="/images/7.jpg"/> </a>
                    <figcaption>To be continued...</figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <input id="flag" type="hidden" class="hidden" value="{{document.id}}"/>
    <div class="documentComment">
        {% include '../comment.html'%}
    </div>
</div>
</body>
<script src="/javascripts/travelView.js"></script>
{% include '../footer.html'%}
