 {% include 'head.html'%}
<body>
     <nav class="navbar navbar-default" role="navigation">
         <div class="navbar-header">
             <ul class="nav navbar-nav">
                 <li><a class="navbar-brand" href="#">自介</a></li>
                 <li><a href="#">博客</a></li>
                 <li><a href="#">旅行</a></li>
                 <li><a href="#">生活</a></li>
                 <li><a href="#">微薄</a></li>
             </ul>
         </div>
     </nav>
     <header class="header">
         <h1>Welcome to my homepage</h1>
         <p>My name is Donald Duck</p>
     </header>
     <div class="row">
               banner
     </div>

     <div class="row">
          主要内容
     </div>

     <div>
         微薄内容
     </div>
 {% include 'footer.html'%}
