<ul class="list-group">
    {%for item in items %}
    <li class="list-group-item">
        <span class="reply pull-right">
            <button type="button" class="btn btn-info">回复</button>
        </span>
        <ul class="comment-group list-unstyled">
            <input type="hidden" value="{{item.comment.id}}"/>
            <li>{{item.comment.content}}</li>
            <li>{{item.comment.createTime|date("Y-n-d H:i") }}&nbsp<a href="#">@{{item.comment.username}}</a></li>
            <li>
                <ol class="reply-group">
                    {%for reply in item.replys %}
                    <li>
                        {{reply.content}}<br>
                        {{reply.createTime|date("Y-n-d H:i",480,"CCT") }}&nbsp<a href="#">@{{reply.username}}</a>
                    </li>
                    {% endfor %}
                </ol>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>
