<div class="header navigator">
    <nav class="navbar" role="navigation">
        <div class="navbar-header">
            <ul class="nav navbar-nav navigator">
                <li><a class="introduce" href="#">自介</a></li>
                <li><a href="#" calss="weibo">博客</a></li>
                <li><a href="#">旅行</a></li>
                <li><a href="#">生活</a></li>
                <li><a href="#">微薄</a></li>
            </ul>
        </div>
    </nav>
    <header class="header">
    </header>
</div>