
div.introduce {
    box-shadow: 2px 7px 5px #888888;
    width: 1000px;
    height: 420px;
    background: #effcff;
    border-radius:8px;
    margin-bottom: 100px;
}

/*traval CSS*/

div.travel {
    box-shadow: 2px 7px 5px #888888;
    width: 1000px;
    height: 420px;
    background: #effcff;
    margin-bottom: 100px;
    border-radius:8px;
}

div.travel div.content {
    float: left;
    width: 320px;
    padding-left: 5px;
}

div.travel div#map{
    width: 648px;
    height: 420px;
    left: -15px;
    border-radius:5px;
    float:left;
}

div.travel div.content h1{
    -webkit-box-reflect: below -8px linear-gradient(transparent,transparent 40%,rgba(33,33,33,0.3));
    margin-bottom: 16px;
}


/*weibo CSS*/

div.weibo {
    /*box-shadow: 10px 10px 5px #888888;*/
    width: 1000px;
    height: 450px;
    /*background: #effcff;*/
    margin-bottom: 100px;
    border-radius:8px;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}

div.weibo div[class^="weiboContent"] {
    width: 300px;
    height: 400px;
    float: left;
    margin-right: 23px;
    border: 1px solid #DFE1DE;
    margin-top: 25px;
    background-color: #effcff;
    border-radius:5px;
}

ul.weiboUl li{
    float:left;
}

ul.weiboUl li.avatar img{
    width: 80px;
    height: 80px;
    border-radius: 2px;

}

li.screen_name {
    margin-top: 23px;
    margin-left: 37px;
    margin-bottom: 17px;
}

li.screen_name a:link{
    width: 90px;
    height: 20px;
    text-decoration :none;
}

li.screen_name a:hover{
    width: 90px;
    height: 20px;
    background-color: #f7f7f7;
    text-decoration :none;
}

li.description {
    margin-top: 8px;
    margin-left: 18px;
}

li.text{
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 5px;
}

li.weibo_head span{
    margin-right: 10px;
}

ul.weiboUl li.retweeted_source {
    position: relative;
    top: 88px;
    float: right;
    margin-right: 5px;
}

div[class^="weiboContent"] ul.weiboUl li.source {
    position: relative;
    float: right;
    top: 249px;
}

div.live {
    box-shadow: 2px 7px 5px #888888;
    width: 1000px;
    height: 450px;
    background: #effcff;
    margin-bottom: 100px;
    border-radius:15px;
}

div.map_info_window {
    font-size: 120%;
}

.popover-content {
    width: 130px;
}
